.slider {
  &-container {
    margin-top: 30px;
    width: 95%;
    max-width: 500px;
  }

  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  outline: none;
  border: 2px solid var(--secondary-color);
  border-radius: 8px;
  position: relative;

  background: var(--accent-color);
  background: -moz-linear-gradient(90deg, var(--accent-color) 0%, var(--primary-color) 100%);
  background: -webkit-linear-gradient(90deg, var(--accent-color) 0%, var(--primary-color) 100%);
  background: linear-gradient(90deg, var(--accent-color) 0%, var(--primary-color) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c42fed",endColorstr="#29d9a7",GradientType=1);

  --rotation: 0deg;
  
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    cursor: pointer;

    border: 2px solid var(--secondary-color);

    background: var(--primary-color);
    background: -moz-linear-gradient(270deg, var(--accent-color) 0%, var(--primary-color) 100%);
    background: -webkit-linear-gradient(270deg, var(--accent-color) 0%, var(--primary-color) 100%);
    background: linear-gradient(270deg, var(--accent-color) 0%, var(--primary-color) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c42fed",endColorstr="#29d9a7",GradientType=1);

    transform: rotate(var(--rotation))
  }
  &::-moz-range-thumb {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    cursor: pointer;
    border: 2px solid var(--secondary-color);
    background: var(--primary-color);
    background: -moz-linear-gradient(270deg, var(--accent-color) 0%, var(--primary-color) 100%);
    background: -webkit-linear-gradient(270deg, var(--accent-color) 0%, var(--primary-color) 100%);
    background: linear-gradient(270deg, var(--accent-color) 0%, var(--primary-color) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c42fed",endColorstr="#29d9a7",GradientType=1);

    animation: rotate-it 0.5s ease-in-out infinite;
  }

  &-text-container {
    text-align: center;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 25px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}